<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<h3>Micropost</h3>
<% if @user.microposts.first.nil? %>
	none
<% else %>
	<strong>Content: </strong>
	<%= @user.microposts.first.content %>
<% end %>

